body {
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    display: none;
}

* {
    -webkit-user-select: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}